#tmsm-werecruit-container{

    .elementor-image-box-title{
        margin-bottom: 5px;
    }

    .tmsm-werecruit-joboffer-attribute{
        white-space: nowrap;
        margin-right: 20px;
    }
    .elementor-cta__button-wrapper, .tmsm-werecruit-joboffer-button-wrapper {
        white-space: nowrap;
        @media (min-width: 768px) {
            float: right;
            text-align: right;

        }

    }
    .elementor-cta__description{
        @media (min-width: 768px) {
            float: left;
            width: 80%;
            *, p:last-child{
                margin-bottom: 0;
            }
        }
        margin-bottom: 0;



    }
    .loading{
        opacity: 0.5;
    }
    select{
        margin-bottom: 15px;
        @media (min-width: 768px) {
            width: 20%;
            margin-right: 15px;

        }
    }
    #tmsm-werecruit-filterform{
        margin-bottom: 20px;

        > * {
            vertical-align: middle;
        }
    }

    .tmsm-werecruit-joboffer-attribute{
        opacity: 0.5;
    }
    .tmsm-werecruit-joboffer-company{
        font-weight: bold;
    }

    img{

        @media (min-width: 768px) {
            margin-right: 30px;
        }
    }
    .elementor-image-box-content{
        //padding: 15px;
    }
    .elementor-widget-image-box .elementor-image-box-img{
        @media (min-width: 768px) {
            width: 20%;
        }
    }
}
