#tmsm-werecruit-container{

    .elementor-cta__bg-wrapper{
        //position: relative;
        //min-height: 200px;
        //width: 100%;


        @media (min-width: 768px) {
            //width: auto;
            min-width: 20%;
            //position: relative;
            //min-height: 200px;
        }

    }
    .tmsm-werecruit-joboffer-attribute{
        white-space: nowrap;
        margin-right: 20px;
    }
    .elementor-cta__button-wrapper {
        @media (min-width: 768px) {
            float: right;
            width: 30%;
            text-align: right;
        }

    }
    .elementor-cta__description{
        @media (min-width: 768px) {
            float: left;
            width: 70%;
            *, p:last-child{
                margin-bottom: 0;
            }
        }
        margin-bottom: 0;



    }
    .loading{
        opacity: 0.5;
    }
    select{
        width: 20%;
        margin-right: 15px;
    }
    #tmsm-werecruit-filterform{
        margin-bottom: 20px;

        > * {
            vertical-align: middle;
        }
    }

    .tmsm-werecruit-joboffer-attribute{
        opacity: 0.5;
    }
    .tmsm-werecruit-joboffer-company{
        font-weight: bold;
    }
}
