@screen-sm-min:500px;
@screen-md-min: 900px;
@font-size-small: 13px;
@font-size-large: 16px;

@calendar-background: white;
@calendar-text-color: #333;
@controls-border: #ddd;

@selected-color: #333333;
@day-past-color: rgba(0, 0, 0, 0.25);
@day-border: @calendar-background;

@day-background: white;
@day-price-color:  rgba(0, 0, 0, 0.4);
@day-number-color: @calendar-text-color;

@day-selected-background: @selected-color;
@day-selected-price-color: lighten(@selected-color, 30%);
@day-selected-day-number-color: white;

@day-selected-range-background: lighten(@selected-color, 30%);
@day-selected-range-day-number-color: @calendar-text-color;
@day-selected-range-price-color: rgba(0, 0, 0, 0.4);

@day-hover-background: @day-selected-background;
@day-hover-price-color: @day-selected-price-color;
@day-hover-day-number-color: @day-selected-day-number-color;

@day-lowestprice-price-color: #0f9d58;
@day-lowavailability-background: white;
@day-number-background: transparent;
@day-number-color: inherit;


@minstay-background: transparent;
@minstay-color: #333;

#tmsm-werecruit-calendar{
    padding: 2px;

    &.calendar-small{
        .hide-small {
            display: none;
        }
        .clndr-controls{
            font-size: ceil(@font-size-small*1.1);
            @media(min-width: @screen-md-min) {
                font-size: ceil(@font-size-small*1.4);
            }
            td{
                padding: 5px;
            }
        }
        .day{
            font-size: @font-size-small;
            border: 1px solid @day-border;
        }
        .cell{
            padding: 4px 3px 4px 3px;
        }
    }

    &.calendar-large{

        .hide-large {
            display: none;
        }
        .clndr-controls{
            font-size: ceil(@font-size-large*1.4);
        }
        .day{
            font-size: @font-size-large;
            border: 3px solid @day-border;

        }
        .cell{
            padding: 8px;
        }
    }

    color: @calendar-text-color;

    background: @calendar-background;

    //min-height: 280px;
    //@media(min-width: @screen-sm-min) {
    //    min-height: 375px;
    //}

    .table-calendarprices{
        width: 100%;
        ::-moz-selection {
            background: transparent;
            color:inherit;
        }
        ::selection {
            background: transparent;
            color:inherit;
        }
        .clndr-controls{
            background: white;
            border-bottom: 2px solid @controls-border;
        }

        .header-days{
            .header-day{
                text-align: center;
            }
        }

        .month{
            //height: 40px;


            font-weight: normal;
            text-align: center;
            &:first-letter{
                text-transform: uppercase;
            }
            small{
                display: none;
            }
        }

        th{
            line-height: 2;
        }

        .clndr-control-button{

            > span {

                &:hover{
                    cursor: pointer;
                }
                &.inactive{
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            &.clndr-control-button-previous{
                text-align: left;
            }
            &.clndr-control-button-next{
                text-align: right;
            }

        }

        .cell{
            vertical-align: middle;
            position: relative;

            + .cell{
                display: none;
            }
        }

        .day-number{
            background: @day-number-background;
            color: @day-number-color;
            //position: absolute;
            //top: 0;
            //left: 0;
            padding: 1px;
            //width: 16px;
            //height: 17px;
            display: inline-block;
            //text-align: center;
            font-size: 15px;
            line-height: normal;
        }

        .minstay{
            position: absolute;
            line-height: 14px;
            top: 0;
            right: 0;
            display: none;
            //padding: 2px;
            background: @minstay-background;
            color: @minstay-color;
        }

        .day-special{
            position: absolute;
            top: 1px;
            left: 16px;
            padding: 1px;
            width: 16px;
            //display: none;
            &.glyphicon-alert{
                display: block;
            }
        }

        .price{
            font-weight: bold;
            margin: 0;
            font-size: 11px;
            line-height: normal;
        }

        tbody{

            .day{

                padding: 0;
                text-align: center;
                vertical-align: top;
                background: @day-background;
                color: @calendar-text-color;
                width: 14%;

                .day-number{
                    color: @day-number-color
                }
                .price{
                    color: @day-price-color;
                }
                &:hover{
                    cursor: pointer;
                }
            }


            .day.past, .day.next-month, .day.inactive, .day.last-month{
                .cell{
                    background: @day-background !important;
                }

                .cell{
                    .day-number{
                        color: @day-past-color  !important;;
                    }
                    .price{
                        visibility: hidden;
                    }
                }

                &.inactive{
                    &:hover{
                        cursor: not-allowed;
                    }
                }
            }

            .day.selected{
                .cell{
                    background: @day-selected-range-background;
                }
                .day-number{
                    color:@day-selected-range-day-number-color;
                }
                .price{
                    color: @day-selected-range-price-color;
                }
                &.active{
                    .instead, .price{
                        opacity: 1;
                    }
                }
            }

            .day.selected-hover{
                .cell{
                    background: @day-selected-range-background;
                }
            }

            .day.selected-begin, .day.selected-end {
                .cell{
                    background: @day-selected-background;
                }
                .price{
                    color: @day-selected-price-color;
                }
                .day-number{
                    color: @day-selected-day-number-color;
                }
            }

            .day.mouseover{
                .cell{
                    background: @day-hover-background;
                }
                .price{
                    color: @day-hover-price-color;
                }
                .day-number{
                    color: @day-hover-day-number-color;
                }
            }

            .day:not(.selected):not(.past):not(.mouseover){
                .cell[data-lowestprice='1']{
                    .price{

                        color: @day-lowestprice-price-color;
                    }
                }
                .cell[data-availability='1'], .cell[data-availability='2'] {
                    background: @day-lowavailability-background;
                }


            }
            .day:not(.selected):not(.past):not(.mouseover){
                .cell[data-minstay]:not([data-minstay=""]){
                    .minstay{
                        display: inline-block;
                    }
                }
            }



        }

        .cell[data-equal='1'], .cell[data-equal='true']{
            .instead{
                visibility: hidden;
            }
        }


    }
}

.tmsm-werecruit-form-legend{
    margin-top: 5px;
    .legend-item{

        margin-bottom: 5px;

        &:before{
            content: '';
            border:1px solid black;
            background: white;
            width: 18px;
            line-height: 7px;
            height: 12px;
            padding: 1px;
            display: inline-block;
            margin-right: 5px;
        }
        &.legend-item-available{
            display: none;
        }
        &.legend-item-notavailable{
            display: none;
            &:before{
                background: @day-background;
            }
        }
        &.legend-item-lowestprice{
            display: none;
            &:before{
                background: @day-lowestprice-price-color;
            }
        }
        &.legend-item-lastrooms{
            display: none;
            &:before{
                background: @day-lowavailability-background;
            }
        }
        &.legend-item-minstay{
            display: none;
            @media(min-width: @screen-md-min) {
                display: block;
            }

            &:before{
                content:'⇾';
                background: @minstay-background;
                color: @minstay-color;
            }
        }
    }
}

#tmsm-werecruit-form{

    .tmsm-werecruit-form-fields{
        padding-bottom: 50px;
        @media(min-width: @screen-md-min) {
            padding-bottom: 0;
        }
    }

    #tmsm-werecruit-form-intro{
        display: none;
        @media(min-width: @screen-md-min) {
            display: block;
        }
    }

    #tmsm-werecruit-calculatetotal-totalprice-label{
        display: none;
    }

    #tmsm-werecruit-form-checkindateinfo-label, #tmsm-werecruit-form-adults-label{
        display: none;

    }
    #tmsm-werecruit-form-checkoutdateinfo-label{
        text-align: center;
        display: inline-block;
    }
    #tmsm-werecruit-form-checkindateinfo, #tmsm-werecruit-form-checkoutdateinfo{
        &:empty{
            border-bottom: 1px dotted @controls-border;
            min-width: 60px;
            display: inline-block;
        }
    }

    #tmsm-werecruit-form-minstay-message{
        &[data-value='0']{
            display: none;
        }
    }

    #tmsm-werecruit-form-adults{
        width: auto;
    }

    #tmsm-werecruit-form-dates-container{
        //padding-top: 35px;
        position: relative;
    }

    #tmsm-werecruit-form-nights-message{
        display: none;
        @media(min-width: @screen-md-min) {
            display: block;
            &[data-value='0']{
                display: none;
            }
        }
    }

}

#tmsm-werecruit-calendar-container{
    padding: 10px;
    background: @controls-border;
    @media(min-width: @screen-md-min) {
        width: 50%;
        display: inline-block;
        padding: 15px;
    }
}

#tmsm-werecruit-calendar{
    @media(min-width: @screen-md-min) {
        min-height: 325px;
    }
}

#tmsm-werecruit-form{
    padding: 10px;
    background: white;

    @media(min-width: @screen-md-min) {
        width: 50%;
        float: right;
        padding: 15px;
    }
}
#tmsm-werecruit-container{
    background: white;
}

#tmsm-werecruit-form-outro{

    @media(min-width: @screen-md-min) {
        position: absolute;
        bottom: 0;
        width: auto;
        right: 0;
        padding: 15px;
        left: 50%;
    }

    .tmsm-werecruit-form-has-ota-price & {
        position: relative;
        right: auto;
        left: auto;
        padding: 0;
    }
}

